@import "../../variables.scss";

:host {
  .main__slider {
    position: relative;
    // top: 70px;
    // height: calc(100vh - 100px);
    // overflow: hidden;
    overflow: hidden;
    height: 100vh;
  }

  .slider-content {
    text-align: center;
    margin: 100px 0;
    height: 100vh;
    top: 20px;
    .head {
      width: 30%;
      margin: 0 auto;
      h1 {
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 35px;
      }

      p {
        margin-bottom: 70px;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
    }

    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: calc(100vh - 400px);
      @media (min-width: 992px) and (max-width: 1200px) {
        min-height: calc(100vh - 350px);
      }
      @media  (min-width: 1200.1px)  {
        min-height: calc(100vh - 300px);
      }
    }
  }


}

:host ::ng-deep {

  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    color: $main-color;
  }

  .slick-prev,
  .slick-next {
    top: 40%;
    height: 40px;
    width: 40px;

  }

  .slick-next {
    right: 30px;
  }

  .slick-prev {
    left: 30px;
    z-index: 22222222222222;
  }
}
