@import "../../variables.scss";
:host {
    .main__slider {
        position: relative;
        top: 70px;
        
     }
    .slider-content {
        text-align: center;
    margin: 100px 0;
    min-height: 100vh;
    .head {
        width: 30%;
        margin: 0 auto;
        h1 {
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 35px;
        }
        p {
            margin-bottom: 70px;
        }
    }
    img {
        margin: 0 auto;
    }
    }
}