<div class="main__slider">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="sliderConfig">
    <div ngxSlickItem class="slide">
       <div class="slider-content">
          <div class="head">
            <h1>welcome to Native Academy</h1>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorem pariatur non cumque, ea fuga rem exercitationm.
            </p>
          </div>
         <img src="../../../assets/images/home1.png" alt="">
       </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="slider-content">
         <div class="head">
           <h1>welcome to Native Academy</h1>
           <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorem pariatur non cumque, ea fuga rem exercitationm.
           </p>
         </div>
        <img src="../../../assets/images/home1.png" alt="">
      </div>
   </div>
   <div ngxSlickItem class="slide">
      <div class="slider-content">
         <div class="head">
           <h1>welcome to Native Academy</h1>
           <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorem pariatur non cumque, ea fuga rem exercitationm.
           </p>
         </div>
        <img src="../../../assets/images/home1.png" alt="">
      </div>
   </div>
   <div ngxSlickItem class="slide">
      <div class="slider-content">
         <div class="head">
           <h1>welcome to Native Academy</h1>
           <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorem pariatur non cumque, ea fuga rem exercitationm.
           </p>
         </div>
        <img src="../../../assets/images/home1.png" alt="">
      </div>
   </div>
   
    </ngx-slick-carousel>
  
  </div>