<section class="section-container">
    <div class="container">
      <h3>{{'payment' | translate}}</h3>
  
      <div class="row justify-content-center payment-wrapper">
        <div class="col-6">
          <div class="payment-info">
            <div class="info">
              <strong>{{'bank-number' | translate}}:</strong> {{'5465646'}}
            </div>
            <div class="info">
              <strong>{{'bank-name' | translate}}:</strong> {{'ahmed'}}
            </div>
          </div>
          
          <form class="card">
            <h4 class="mb-4">Upload Receipt</h4>
            
            <fieldset class="form-group receipt-img">
              <input class="form-control" name="imageUrl" type="file" accept="image/*" 
                formControlName="receiptImg"
               />
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control"
              formControlName="amount" type="number" placeholder="Amount">
            </fieldset>
  
            <button type="submit" class="main-btn main-btn--second">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>