.about-company {
    position: relative;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 60px;
    min-height: calc(100vh - 150px);
    h3 {
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
}